<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C\Log\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="ElasticSearch" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch"/>
    </target>
    <target xsi:type="Console" name="console"
      layout="${date}|${level:uppercase=true}|${message}|${exception}|${logger}|${all-event-properties}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="ElasticSearch,console" />
  </rules>
</nlog>